@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
    ViewBag.Title = "Join";
}

<div class="intro">
    <div class="tagline-container">
        <h1 class="tagline" style="opacity: 0;top: -50px;position: relative;">
            JOIN help you find the best events that are taking place around you, Now you won't miss any upcoming event.
        </h1>
        <div class="outer-container">
            <div class="phone-container">
                <div class="left-phone" style="top:300px;right: -20%">
                    <div class="space-gray-phone-bg silver-phone-shrink" id="space-gray-phone" style="opacity: 1;"></div>
                </div>
                <div class="right-phone" style="top:300px;">
                    <div class="silver-phone-bg" id="intro-phone">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-container">
    <div class="outer-container">
        <div class="for-left">
            <h2 class="perfect-for" id="perfect-for">Join is perfect for<br class="medium-screen"> <span id="blank-space" class="blank-space"><span id="js-rotating" class="morphext"><span class="animated fadeIn">Sharing</span></span></span></h2>
        </div>
        <div class="for-right">
            <div class="for-cta">
                <a href="">
                    <button class="button-one">Try Join Now, Free <img class="arrow" src="~/images/arrow.png"></button>
                </a>
            </div>
        </div>
    </div>
    <div class="features-container" id="features">
        <div class="top-row">
            <div class="first-feature-left">
                <div class="feature-wrapper">
                    <h3 class="feature-heading">Find Events</h3>
                    <p class="feature-copy" style="color:#212121;">Find events that are taking place around you&nbsp;</p>
                    <p class="feature-copy" style="color:#212121;">Create your own wishlist &nbsp;</p>
                </div>
            </div>
            <div class="first-feature-right"></div>
        </div>
        <div class="bottom-row">
            <div class="second-feature-left"></div>
            <div class="second-feature-right">
                <div class="feature-wrapper">
                    <h3 class="feature-heading">Create Event</h3>
                    <p class="feature-copy">Make your parties more happening by creating your own events in our app&nbsp;</p>
                    <p class="feature-copy">create some exciting activities that will happen in your event&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-store-container">
        <div class="app-store-content">
            <h4 class="app-store-heading">
                <a href="">Get Join in the App&nbsp;Store</a>
            </h4>
            <div class="app-store-button">
                <a href="javascript:void(0)" onclick="javascript:alert(&#39;App store redirect&#39;)">
                    <img class="app-store" src="~/images/app-store.png">
                </a>
            </div>
        </div>
    </div>
    <footer class="footer" role="contentinfo">
        <div class="footer-table-cell">
            <div class="footer-links">
                <ul>
                    <li>
                        <h3 class="footer-header">Company</h3>
                    </li>
                    <li>
                        <a href="javascript:void(0)">About</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Support</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Blog</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h3 class="footer-header">Find Us</h3>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Join for Android</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Twitter</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Facebook</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h3 class="footer-header">Legal</h3>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <p class="footer-copyright footer-header">&copy; @DateTime.Now.Year JOIN</p>
        </div>
    </footer>
</div>

